In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import  warnings
warnings.filterwarnings('ignore')

In [ ]:
data = pd.read_csv('/content/customer_shopping_behavior.csv')
data.sample(5)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
1850,1851,51,Male,Gloves,Accessories,76,Wyoming,S,Black,Winter,2.8,No,Store Pickup,No,No,50,Debit Card,Weekly
1314,1315,42,Male,Boots,Footwear,67,Missouri,S,Magenta,Summer,3.4,No,Free Shipping,Yes,Yes,49,Debit Card,Annually
259,260,32,Male,Jeans,Clothing,57,Louisiana,M,Gold,Fall,2.9,Yes,Standard,Yes,Yes,13,Debit Card,Annually
1010,1011,54,Male,Jeans,Clothing,24,South Dakota,XL,Gray,Spring,4.7,Yes,2-Day Shipping,Yes,Yes,37,Credit Card,Fortnightly
428,429,21,Male,Coat,Outerwear,64,Wyoming,XL,Gold,Winter,2.9,Yes,Free Shipping,Yes,Yes,2,Debit Card,Fortnightly

In [ ]:
data.columns

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Shipping Type',
       'Discount Applied', 'Promo Code Used', 'Previous Purchases',
       'Payment Method', 'Frequency of Purchases'],
      dtype='object')

In [ ]:
def dataset_overview(df):
    """
    Perform basic exploratory checks on a pandas DataFrame.

    Parameters:
        df (pd.DataFrame): Input dataset

    Returns:
        dict: Summary of dataset characteristics
    """

    overview = {}

    # Shape and size
    overview["shape"] = df.shape
    overview["size"] = df.size

    #Info
    overview["info"] = df.info()

    # Statistical Description
    overview['description'] = df.describe()

    # Missing values
    overview["missing_values"] = df.isnull().sum()

    # Duplicate rows
    overview["duplicate_rows"] = df.duplicated().sum()

    # Unique values per column
    overview["unique_values"] = df.nunique()

    return overview

In [ ]:
summary = dataset_overview(data)

print("Shape:", summary["shape"])
print("Size:", summary["size"])
print("\nMissing Values:\n", summary["missing_values"])
print("\nDuplicate Rows:", summary["duplicate_rows"])
print("\nUnique Values:\n", summary["unique_values"])
print("\nStatistical Description:\n", summary["description"])
print("\nInfo:\n", summary["info"])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB
Shape: (3900, 18)
Size: 70200

Missing Values:
 Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

Duplicate Rows: 0

Unique Values:
 Customer ID               3900
Age                         53
Gender                       2
Item Purchased              25
Category                     4
Purchase Amount (USD)       81
Location                    50
Size                         4
Color                       25
Season                       4
Review Rating               26
Subscription Status          2
Shipping Type                6
Discount Applied             2
Promo Code Used              2
Previous Purchases          50
Payment Method               6
Frequency of Purchases       7
dtype: int64

Statistical Description:
        Customer ID          Age  Purchase Amount (USD)  Review Rating  \
count  3900.000000  3900.000000            3900.000000    3863.000000
mean   1950.500000    44.068462              59.764359       3.750065
std    1125.977353    15.207589              23.685392       0.716983
min       1.000000    18.000000              20.000000       2.500000
25%     975.750000    31.000000              39.000000       3.100000
50%    1950.500000    44.000000              60.000000       3.800000
75%    2925.250000    57.000000              81.000000       4.400000
max    3900.000000    70.000000             100.000000       5.000000

       Previous Purchases
count         3900.000000
mean            25.351538
std             14.447125
min              1.000000
25%             13.000000
50%             25.000000
75%             38.000000
max             50.000000

Info:
 None

In [ ]:
def unique_data_list(columns):
  for i in columns:
    print('\n')
    print(f'Unique values in {i} are')
    print(data[i].unique())

In [ ]:
print(f'Unique values  in each columns are/n',unique_data_list(['Gender','Category',
       'Size',  'Season', 'Subscription Status', 'Shipping Type','Discount Applied', 'Promo Code Used',
       'Payment Method', 'Frequency of Purchases']))

Unique values in Gender are
['Male' 'Female']


Unique values in Category are
['Clothing' 'Footwear' 'Outerwear' 'Accessories']


Unique values in Size are
['L' 'S' 'M' 'XL']


Unique values in Season are
['Winter' 'Spring' 'Summer' 'Fall']


Unique values in Subscription Status are
['Yes' 'No']


Unique values in Shipping Type are
['Express' 'Free Shipping' 'Next Day Air' 'Standard' '2-Day Shipping'
 'Store Pickup']


Unique values in Discount Applied are
['Yes' 'No']


Unique values in Promo Code Used are
['Yes' 'No']


Unique values in Payment Method are
['Venmo' 'Cash' 'Credit Card' 'PayPal' 'Bank Transfer' 'Debit Card']


Unique values in Frequency of Purchases are
['Fortnightly' 'Weekly' 'Annually' 'Quarterly' 'Bi-Weekly' 'Monthly'
 'Every 3 Months']
Unique values  in each columns are/n None

In [ ]:
# We can calculate median of different category using
#    data[data['Category']=='Clothing']['Review Rating'].median()
data['Review Rating']=data.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [ ]:
data.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [ ]:
# Now Preprocess columns name

data.columns = data.columns.str.lower()
data.columns = data.columns.str.replace(' ','_')
data = data.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

In [ ]:
data.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [ ]:
 # create a column age group
#age_label = ['young_adult', 'adult', 'middle-aged','senior']
#def convert_age(age_list):
 # for i in age_list:
  #  if i >= 18 and i <= 25:
   #   return 'Young_adult'
    #elif i > 25 and i <= 40:
     # return 'Adult'
    #elif i > 40 and i <= 60:
     # return 'Middle-aged'
    # return 'Senior'
    #data['age']= convert_age(data['age'])

''' we can also do, it divide data based on quantile'''
age_label = ['young_adult', 'adult', 'middle-aged','senior']

data['age_group'] = pd.qcut(data['age'],q=4, labels=age_label)

In [ ]:
data['age_group'].unique()

['middle-aged', 'young_adult', 'senior', 'adult']
Categories (4, object): ['young_adult' < 'adult' < 'middle-aged' < 'senior']

In [ ]:
# Creating a column purchase_frequency_days
frequency_map_days={
    'Fortnightly':14,
    'Monthly':30,
    'Quarterly':90,
    'Annually':365,
    'Weekly':7,
    'Bi-Weekly':14,
    'Every 3 Months' : 90
}

data['purchase_frequency_days'] = data['frequency_of_purchases'].map(frequency_map_days)

In [ ]:
data[['purchase_frequency_days','frequency_of_purchases']]

      purchase_frequency_days frequency_of_purchases
0                          14            Fortnightly
1                          14            Fortnightly
2                           7                 Weekly
3                           7                 Weekly
4                         365               Annually
...                       ...                    ...
3895                        7                 Weekly
3896                       14              Bi-Weekly
3897                       90              Quarterly
3898                        7                 Weekly
3899                       90              Quarterly

[3900 rows x 2 columns]

In [ ]:
# To check two columns are same
# Can Also Use : data['discount_applied'].equals(data['promo_code_used'])
(data['discount_applied'] == data['promo_code_used']).all()

np.True_

In [ ]:
data.drop('promo_code_used',axis=1)

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group,purchase_frequency_days
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,14,Venmo,Fortnightly,middle-aged,14
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,2,Cash,Fortnightly,young_adult,14
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,23,Credit Card,Weekly,middle-aged,7
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,49,PayPal,Weekly,young_adult,7
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,31,PayPal,Annually,middle-aged,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,2-Day Shipping,No,32,Venmo,Weekly,adult,7
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,Store Pickup,No,41,Bank Transfer,Bi-Weekly,middle-aged,14
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Standard,No,24,Venmo,Quarterly,middle-aged,90
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,24,Venmo,Weekly,adult,7
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,33,Venmo,Quarterly,middle-aged,90

In [ ]:
!pip install psycopg2-binary sqlalchemy pandas

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (4.9 kB)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.12/dist-packages (2.0.46)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading psycopg2_binary-2.9.11-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (4.2 MB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 4.2/4.2 MB 41.0 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.11

In [ ]:
from sqlalchemy import create_engine

DATABASE_URL = "postgresql://postgres.qszhlyhuhzhukbszvdgm:Nitin17080506@aws-1-ap-south-1.pooler.supabase.com:5432/postgres"

engine = create_engine(DATABASE_URL,connect_args={"sslmode": "require"})

print("Connected to Supabase successfully!")

Connected to Supabase successfully!

In [ ]:
#Load Dataframe
table_name = 'customer_shopping_behavior'
data.to_sql(table_name, engine, if_exists='replace', index=False)
print(f"Data successfully loaded into table{table_name} in database.")

Data successfully loaded into tablecustomer_shopping_behavior in database.